<template name="journal">
  <main>
    {{ #each journalEntries }}
      <article class="entry entry--teaser {{ #if not published }} entry--unpublished{{ /if }}">
        <a href="{{ urlFor 'journalEntry' }}" class="block_link">
          <h2>{{ title }}</h2>
          <p class="date">{{ formatDate createdAt }}</p>
          {{{ teaser }}}
          <a href="{{ urlFor 'journalEntry' }}">Read_more</a>
        </a>
      </article>
    {{ /each }}
    <nav class="pager"></nav>
  </main>
</template>