<template name="newJournalEntry">
    <main>
      {{ #if currentUser }}
        <form data-id="{{ _id }}" class="post">
          <input type="text" class="title_input" placeholder="Title">
          <textarea placeholder="Markdown"></textarea>
          <input type="text" name="tags" class="tags" placeholder="tag, tag">
          <fieldset>
            <label>published:</label>
            <input type="checkbox" class="published">
          </fieldset>
          <input type="submit" name="new_entry" class="submit">
        </form>
      {{ else }}
        {{ > loginForm }}
      {{ /if }}
    </main>
</template>